[Desktop Entry]
Name=Moonlight Extended
Comment=Stream games and other applications from another PC running Sunshine or GeForce Experience
Exec=moonlight-extended
Icon=moonlight
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=nvidia;gamestream;stream;sunshine;remote play;
